<div class="container-fluid">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase">Productos Añadidos</h3>
        {{#if productos}}
        <div class="table-responsive">
            <table class="table table-bordered table-striped w-100">
                <thead class="text-center">
                    <tr class="table-dark">
                        <th>FAMILIA</th>
                        <th>SKU EUROWIN</th>
                        <th>TARIFA EUROWIN</th>
                        <th>PESO (Kg)</th>
                        <th>ALTO (Cm)</th>
                        <th>ANCHO (Cm)</th>
                        <th>LONGITUD (Cm)</th>
                        <th>ASEGURADO</th>
                        <th>COSTE ENVIO SIN IVA</th>
                        <th>TARIFA EW + ENVIO</th>
                        <th>PVP MIN. AMAZON</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productos}}
                    <tr class="text-center text-uppercase">
                        <td class="familia-amazon">{{familia}}</td>
                        <td>{{sku}}</td>
                        <td class="tarifa-eurowin">{{tarifa_ewin}}</td>
                        <td class="peso">{{peso}}</td>
                        <td class="alto">{{alto}}</td>
                        <td class="ancho">{{ancho}}</td>
                        <td class="longitud">{{longitud}}</td>
                        <td class="asegurado">{{#if asegurado}} Sí {{else}} No</td> {{/if}}
                        <td class="coste-envio"></td>
                        <td class="coste-total"></td>
                        <td class="pvpMinAmazon"></td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot class="text-center"></tfoot>
            </table>
        </div>
        {{else}}
        <div class="card text-center mx-auto" style="width: 350px;">
            <div class="card-header">
                <h3>No hay productos registrados</h3>
            </div>
            <div class="card-body">
                <p>Pulsa este botón para añadir un nuevo producto.</p>
                <a href="/precios/add" class="btn btn-primary">Añadir Producto</a>
            </div>
        </div>
        {{/if}}
    </div>
</div>

<script src="/js/calculator.js"></script>