<div class="container-fluid">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase">Productos A침adidos</h3>
        {{#if productos}}
        <div class="table-responsive">
            <table class="table table-bordered table-striped w-100">
                <thead class="text-center">
                    <tr class="table-dark">
                        <th>FAMILIA</th>
                        <th>SKU EUROWIN</th>
                        <th>TARIFA EUROWIN</th>
                        <th>AGENCIA</th>
                        <th>PESO (Kg)</th>
                        <th>ALTO (Cm)</th>
                        <th>ANCHO (Cm)</th>
                        <th>LONGITUD (Cm)</th>
                        <th>FECHA CREACION</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productos}}
                    <tr class="text-center">
                        <td>{{familia}}</td>
                        <td>{{sku}}</td>
                        <td>{{tarifa_ewin}}</td>
                        <td>{{agencia}}</td>
                        <td>{{peso}}</td>
                        <td>{{alto}}</td>
                        <td>{{ancho}}</td>
                        <td>{{longitud}}</td>
                        <td>{{created_at}}</td>
                        <td colspan="2">
                            <div class="d-flex gap-2 justify-content-center">
                                <a href="/edit/{{id}}" class="btn btn-warning">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="/delete/{{id}}" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot class="text-center">
                    {{!-- <tr class="table-dark">
                        <td colspan="10">Registro de Productos</td>
                    </tr> --}}
                </tfoot>
            </table>
        </div>
        {{else}}
        <div class="card text-center mx-auto" style="width: 350px;">
            <div class="card-header">
                <h3>No hay productos registrados</h3>
            </div>
            <div class="card-body">
                <p>Pulsa este bot칩n para a침adir un nuevo producto.</p>
                <a href="/precios/add" class="btn btn-primary">A침adir Producto</a>
            </div>
        </div>
        {{/if}}
    </div>
</div>