<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto w-50">
            <div class="card text-center w-100">
                <div class="card-header">
                    <h3 class="text-uppercase">Editando un registro</h3>
                </div>
                <div class="card-body">
                    <form action="/edit/{{registro.id}}" method="post">
                        <div class="input-group mt-2">
                            <label for="tienda" class="input-group-text w-50">Tienda</label>
                            <input type="text" class="form-control" name="tienda" value="{{registro.tienda}}"
                                id="tienda" placeholder="Ejemplo: Amazon" autofocus>
                        </div>
                        <div class="input-group mt-2">
                            <label for="articulo" class="input-group-text w-50">SKU Eurowin</label>
                            <input type="text" class="form-control" name="articulo" value="{{registro.articulo}}"
                                id="articulo">
                        </div>
                        <div class="input-group mt-2">
                            <label for="referencia" class="input-group-text w-50">Referencia</label>
                            <input type="text" class="form-control" name="referencia" value="{{registro.referencia}}"
                                id="referencia" placeholder="Nº de pedido">
                        </div>
                        <div class="input-group mt-2">
                            <label for="agencia" class="input-group-text w-50">Agencia Transporte</label>
                            <input type="text" class="form-control" name="agencia" value="{{registro.agencia}}"
                                id="agencia">
                        </div>
                        <div class="input-group mt-2">
                            <label for="numero_envio" class="input-group-text w-50">Nº de envío</label>
                            <input type="text" class="form-control" name="numero_envio"
                                value="{{registro.numero_envio}}" id="numero_envio">
                        </div>
                        <div class="input-group mt-2">
                            <label for="fecha_creacion" class="input-group-text w-50">Fecha de creación</label>
                            <input type="text" class="form-control" name="fecha_creacion"
                                value="{{registro.fecha_creacion}}" id="fecha_creacion">
                        </div>
                        <div class="input-group mt-2">
                            <label for="motivo" class="input-group-text w-50">Motivo</label>
                            <input type="text" class="form-control" name="motivo" value="{{registro.motivo}}"
                                id="motivo">
                        </div>
                        <div class="input-group mt-2">
                            <label for="fecha_recepcion" class="input-group-text w-50">Fecha de recepción</label>
                            <input type="text" class="form-control" name="fecha_recepcion"
                                value="{{registro.fecha_recepcion}}" id="fecha_recepcion">
                        </div>
                        <div class="input-group mt-2">
                            <label for="observaciones" class="input-group-text w-50">Observaciones</label>
                            <input type="text" class="form-control" name="observaciones"
                                value="{{registro.observaciones}}" id="observaciones">
                        </div>
                        <div class="form-group mt-4 d-grid gap-2">
                            <button class="btn btn-success">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>