<div class="container-fluid">
    <div class="row mt-5">
        <h3 class="text-center text-uppercase">Recogidas Creadas</h3>
        {{#if registros}}
        <div class="table-responsive">
            <table class="table table-bordered table-striped w-100">
                <thead class="text-center">
                    <tr class="table-dark">
                        <th>TIENDA</th>
                        <th>ARTICULO</th>
                        <th>REFERENCIA</th>
                        <th>AGENCIA</th>
                        <th>NUMERO DE ENVIO</th>
                        <th>FECHA CREACION</th>
                        <th>MOTIVO</th>
                        <th>FECHA RECEPCION</th>
                        <th>OBSERVACIONES</th>
                        <th colspan="2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each registros}}
                    <tr class="text-center">
                        <td>{{tienda}}</td>
                        <td>{{articulo}}</td>
                        <td>{{referencia}}</td>
                        <td>{{agencia}}</td>
                        <td>{{numero_envio}}</td>
                        <td>{{fecha_creacion}}</td>
                        <td>{{motivo}}</td>
                        <td>{{fecha_recepcion}}</td>
                        <td>{{observaciones}}</td>
                        <td colspan="2">
                            <div class="d-flex gap-2 justify-content-center">
                                <a href="/edit/{{id}}" class="btn btn-warning">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a href="/delete/{{id}}" class="btn btn-danger">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot class="text-center">
                    {{!-- <tr class="table-dark">
                        <td colspan="13">Registro de Recogidas</td>
                    </tr> --}}
                </tfoot>
            </table>
        </div>
        {{else}}
        <div class="card text-center mx-auto" style="width: 350px;">
            <div class="card-header">
                <h3>Debes crear un registro</h3>
            </div>
            <div class="card-body">
                <p>Pulsa este botón para que puedas añadir un registro.</p>
                <a href="/add" class="btn btn-primary">Ir a Crear</a>
            </div>
        </div>
        {{/if}}
    </div>
</div>